h2
{
	background:url('../img/theme-1/content-h-bg.png');
}

.headline-wrapper
{
	background-image:url('../img/theme-1/headline-bg.jpg');
}

.headline
{
	background-image:url('../img/theme-1/headline-lines.png');
}

.footerline
{
	background-image:url('../img/theme-1/headline-bg.jpg');
}
